@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*===========================================
    Body CSS Style Start
=============================================*/
body {
    margin: 0;
    padding: 70px 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
ul, li, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: normal;
    font-weight: 600;
    color: #151515;
}
/* h1 {
    font-size: 60px;
} */
h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
    margin-bottom: 40px;
}
h3 {
    font-size: 33px;
    margin-bottom: 19px;
}
h4 {
    font-size: 21px;
    margin-bottom: 19px;
}
p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.fw_700 {
    font-weight: 700;
}
.fw_600 {
    font-weight: 600;
}
.fw_500 {
    font-weight: 500;
}
.fw_400 {
    font-weight: 400;
}
/*===========================================
    Body CSS Style End
=============================================*/

/*===========================================
    Colors CSS Style Start
=============================================*/
.red_03b {
    color: #fb503b;
}
.blue_aff {
    color: #27ae60;
}
.blue_977_bg {
    background-color: #062977;
}

/*===========================================
    Colors CSS Style End
=============================================*/

/*===========================================
    Button CSS Style Start
=============================================*/
.btn {
    font-size: 21px;
    min-width: 267px;
    display: inline-block;
    height: 59px;
    line-height: 59px;
    color: #fff;
    font-weight: 600;
    background: -moz-linear-gradient(180deg, rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
    background: -webkit-linear-gradient(180deg, rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
    background: -ms-linear-gradient(180deg, rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 0;
    /*   transition: transform .5s, box-shadow .3s, background-color .3s, color .3s, opacity .3s; */
}
.red_btn .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fb503b;
    z-index: -1;
    transform: scaleY(0);
    transition: all 0.3s;
}
.red_btn .btn:hover::before {
    transform: scaleX(1);
}
.red_btn .btn:hover,
.red_btn .btn:focus {
    color: #fff;
    border: 0;
}
/*===========================================
    Button CSS Style End
=============================================*/

/*===========================================
    Banner CSS Style Start
=============================================*/
.overlay {
    position: relative;
    z-index: 1;
}
.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fb503b;
    z-index: -1;
}
.overlay_blue::before {
    background-color: rgba(2, 11, 31, 0.85);
}
.banner {
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}
.home_banner {
    background-image: url(../images/home-banner-image.jpg);
}
.our_promise_banner {
    background-image: url(../images/our-promise-banner.jpg);
}
.map_banner {
    background-image: url(../images/world-map-bg.png);
    background-position: right center;
    background-size: auto;
}
/*===========================================
    Banner CSS Style End
=============================================*/
/*===========================================
    Navigation CSS Style Start
=============================================*/
/*nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0px;
}
nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #000;
    z-index: -1;
    transition: height 0.3s;
}
nav.sticky::before {
    height: 100%;
}*/
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-fixed-top {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.contact_info {
    display: flex;
    align-items: center;
}
.contact_info li {
    margin-right: 25px;
}

.contact_info li:last-child {
    margin-right: 0;
}
.contact_info li a {
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}
.contact_info li a:hover,
.contact_info li a:focus {
    color: #fb503b;
}
.contact_info li.call_contact .call_contact.btn {
    min-width: 235px;
    height: 52px;
}
.contact_info li .whatsapp_icons {
    margin-right: 8px;
}
.contact_info li.call_contact .call_contact.btn .call_icons {
    margin-right: 5px;
}
.contact_info li .whatsapp_icons {
    max-width: 36px;
}
.contact_info li .call_icons {
    max-width: 20px;
}
.icons {
    display: inline-block;
    line-height: 0;
}
.icons img {
    width: 100%;
}
/*===========================================
    Navigation CSS Style End
=============================================*/


/*===========================================
    Home CSS Style Start
=============================================*/

#home_banner {
    background-color: rgba(2, 11, 31, 1);
    padding: 120px 0 70px;
}

#home_banner .content {
    width: 100%;
}

#home_banner .content .top {
    margin-bottom: 35px;
}

#home_banner .content .top h2 {
    margin-bottom: -5px;
}

#home_banner .content .top h1 {
    letter-spacing: 1.1px;
    margin-bottom: 6px;
}

#home_banner .content .top h1 span {}

#home_banner .content .top p {
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 0;
}

#home_banner .content .why_laravel {}

#home_banner .content .why_laravel h3 {}

.why_laravel_list {
    margin-bottom: 37px;
   
}

.why_laravel_list li {
    position: relative;
    /* font-size: 20px; */
    font-size: 19px;
    padding-left: 39px;
    font-weight: 500;
    margin-bottom: 10px;
}

.why_laravel_list li:last-child {
    margin-bottom: 0px;
}

.why_laravel_list li::before {
    content: "";
    background-image: url(../images/red-arrow.png);
    width: 21px;
    height: 20px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 2px;
}
#hero .mainWrapper {
    background-color: transparent !important;
    padding-left: 60px;
}

.partner_img_wrap {}

.partner_img_wrap ul {
    display: flex;
    align-items: flex-end;
    max-width: 645px;
    width: 100%;
}
.partner_img_wrap ul li {
    flex: 0 0 auto;
    margin-right: 15px;
    width: 25%;
}
.partner_img_wrap ul li:last-child {
    margin-right: 0px;
}
.partner_img_wrap ul li img {
    width: 100%;
}
.partner_img_wrap ul li.gartner_img {
    width: 20%;
}
.partner_img_wrap ul li.good_firms_img {
    width: 35%;
}
.partner_img_wrap ul li.pmi_img{
    width: 20%;
}

.trusted_client {
    padding: 85px 0px 70px;
}

.trusted_client .top {
    margin-bottom: 85px;
}

.trusted_client p.testimonial {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    position: relative;
    max-width: 1100px;
    /* margin: 0 auto 22px; */
    margin: 0 auto 10px;
}

.trusted_client p.testimonial::before {
    content: "";
    background-image: url(../images/icons/testimonial-icon.png);
    width: 71px;
    height: 48px;
    background-size: cover;
    /* position: absolute; */
    display: inline-block;
    left: -38px;
    top: -32px;
}

.trusted_client p.testimonial span {
    font-size: 21px;
    font-style: italic;
}

.trusted_client .star {
    max-width: 128px;
    margin: 0 auto;
    display: inline-block;
}

.trusted_client .star img {
    width: 100%;
}

.trusted_partner {}

.trusted_partner .box {
    border: 1px solid #dddddd;
}

.trusted_partner .box {
    filter: grayscale(100);
}

.trusted_partner .box:hover {
    filter: none;
}

.assist_sec {
    padding: 85px 0px;
}

/*.assist_sec .why_laravel_list li {
    font-weight: 600;
}*/

.assist_sec h2 {
    margin-bottom: 20px;
    font-size: 44px;
}
.assist_sec p {
    font-weight: 500;
    margin-bottom: 25px;
}
.assist_sec .why_laravel_list {
    margin-bottom: 27px;
}
.assist_sec .content .red_btn .btn {
    min-width: 307px;
}
.team_slider {
    background: transparent;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.15);
    transition: all .5s ease-in-out;
    background-color: #fff;
    border: 5px solid #fff;
}
.team {
    margin-right: 55px;
    width: 100%;
}
.team h4 {
    margin-bottom: 26px;
    font-size: 26px;
}
.team .box img {
    width: auto;
}
.team .box {
    /*box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.15);*/
    /*transition: all .5s ease-in-out;*/
    /*background-color: #fff;*/
    /* max-width: 320px;*/
    /*padding: 5px; */
}
.team_slider {
    max-width: 316px;
    margin: 0 auto;
    width: 100%;
}
/* .team .box .image {
    position: relative;
    height: 100%;
}
 */
/* .team .overlay_team {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ff9100 1%,#56dc1 100%);
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 15;
} */


/* .team .box:hover .overlay_team {
    opacity: 0.85;
}
 */

.team .box .team_info {
    text-align: center;
    padding: 13px 0;
    box-sizing: border-box;
    width: calc(100% - 15px);
    margin: 0 auto;
}

.team .box .team_info h4 {
    margin-bottom: 3px;
    color: #151515;
}

.team .box .team_info p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #777777;
    font-weight: 400;
}

.team .box .team_info p span {
    color: #3c62b4;
}

.case_studies {
    padding: 75px 0 50px;
}

.case_studies h2 {
    margin-bottom: 45px;
}

.case_studies .owl-stage,
.case_studies .owl-item {
    display: flex;
}


/*.case_studies .owl-carousel .owl-item{
    display: flex;
    flex: 0 0 100%;
}*/

.case_studies .owl-carousel .owl-item .box {
    display: flex;
    flex: 0 0 100%;
    margin-bottom: 10px;
}

.case_studies .box a {
    transition: all 0.5s;
    background-color: #f3f6f8;
    padding: 15px;
    /*  height: 100%; */
    border-radius: 6px;
    display: flex;
}

.case_studies .box a:hover {
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transform: translateY(-5px);
}

.case_studies .box a .outer_wrap {
    border-radius: 6px;
    border: 1px solid #dedede;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.case_studies .box a .outer_wrap .project_details {
    padding: 9px 20px 20px;
    height: 100%;
}

.case_studies .box a h4 {
    color: #151515;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.case_studies .box a p {
    color: #424242;
    font-size: 15px;
    margin-bottom: 0;
    line-height: 20px;
}

.case_study_img {}

.case_study_img img {
    width: 100%;
}

.case_studies .owl-dots.disabled {
    display: none;
    text-align: center;
}

.case_studies .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.case_studies .owl-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #1c1c1c;
    margin: 0 3px;
    transition: all 0.3s;
}

.case_studies .owl-dot.active {
    background: -moz-linear-gradient(180deg, rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
    background: -webkit-linear-gradient(180deg, rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
    background: -ms-linear-gradient(180deg, rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
}

.hiring_process {
    padding: 20px 0px 80px;
}

.hiring_process h2 {
    margin-bottom: 50px;
}

.hiring_process ul {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1700px;
    margin: 0 auto 60px;
}

.hiring_process ul li {
    text-align: center;
    flex-grow: 1;
    position: relative;
    z-index: 1;
    flex: 0 0 20%;
}

.hiring_process ul li p {
    margin-bottom: 0;
    font-size: 24px;
}

.hiring_process ul li p span {
    margin-bottom: 5px;
}

.hiring_process ul li .circle_heading {
    width: 80px;
    height: 80px;
    border: 2px solid #a1caff;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #a1caff;
    margin-bottom: 37px;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.hiring_process .btn {
    min-width: 380px;
    transition: all 0.3s;
}

.arrow {
    position: absolute;
    right: calc(-50% - -58px);
    width: calc(100% - 113px);
    align-items: center;
    justify-content: center;
    top: 38px;
}

.arrow::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #a1caff;
    position: absolute;
    right: 0;
    z-index: -1;
}

.arrow::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: 2px solid #a1caff;
    transform: rotate(45deg);
    border-color: #a1caff #a1caff #fb503b00 #fb503b00;
    z-index: -1;
    right: 4px;
}
.trusted_client.second_testi {
    padding: 70px 0px 110px;
}
.trusted_client.second_testi p.testimonial {
    max-width: 100%;
    /* line-height: 33px; */
}

.trusted_client.second_testi p:before {
    opacity: 0.1;
}

.trusted_client.second_testi .top {
    margin-bottom: 0px;
}

.experience_sec {
    padding: 70px 0px 75px;
}

.experience_sec .box {
    text-align: center;
}

.experience_sec .box span {
    font-size: 52px;
    color: #a1caff;
    font-weight: 700;
    margin-bottom: 0;
}

.experience_sec .box p {
    font-size: 18px;
    font-weight: 500;
    color: #151515;
    margin-bottom: 0;
    margin-top: -5px;
}

.our_promise {
    padding: 80px 0px 75px;
}

.our_promise .img_wrap {
    max-width: 208px;
    width: 100%;
}

.our_promise .container {
    max-width: 1040px;
}

.our_promise .img_wrap img {
    width: 100%;
}

.our_promise h2 {
    margin-bottom: 1px;
}

.our_promise h6 {
    margin-bottom: 17px;
    font-size: 24px;
    font-weight: 600;
}

.our_promise p {
    margin-bottom: 0;
}


/*===========================================
    Home CSS Style End
=============================================*/


/*===========================================
    Footer CSS Style Start
=============================================*/

footer {
    padding: 50px 0px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 40px;
}

footer .container {}

footer .footer_text {}

footer .footer_logo {
    max-width: 227px;
    margin-bottom: 15px;
}

footer .footer_logo img {
    width: 100%;
}

footer .footer_text p,
.bottom_footer p,
.bottom_footer p a {
    color: #666666;
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 0;
}

.consulting_partners {
    /*padding-left: 24px;*/
    /*padding-left: 0px;*/
}

.consulting_partners h6 {
    font-size: 18px;
    margin-bottom: 8px;
}

.consulting_partners h6::after {
    content: "";
    width: 36px;
    height: 2px;
    background-color: #fb503b;
    display: inline-block;
    margin-left: 5px;
}

.consulting_partners_wrap {
    display: flex;
}

.consulting_partners_wrap li {
    margin-right: 18px;
}

.consulting_partners_wrap li:last-child {
    margin-right: 0px;
}

.consulting_partners_wrap li img {}

.bottom_footer {
    padding: 20px 0px;
}

.bottom_footer p,
.bottom_footer p a {
    font-size: 14px;
}

.bottom_footer p a:hover {
    color: #000 !important;
}

.bottom_footer .social_details {}

.bottom_footer .social_details ul {
    display: flex;
}

.bottom_footer .social_details li {
    margin-right: 12px;
}

.bottom_footer .social_details li:last-child {
    margin-right: 0px;
}

.bottom_footer .social_details li a {
    background-color: #f4f4f4;
    display: inline-block;
    border: 1px solid #7d7d7d;
    color: #7d7d7d;
    width: 38px;
    height: 38px;
    border-radius: 50px;
    text-align: center;
    line-height: 38px;
    transition: all 0.3s;
}

.bottom_footer .social_details li a:hover,
.bottom_footer .social_details li a:focus {
    color: #fff;
}

.bottom_footer .social_details li a.facebook:hover,
.bottom_footer .social_details li a.facebook:focus {
    background-color: #3b5999;
    border-color: #3b5999;
}

.bottom_footer .social_details li a.twitter:hover,
.bottom_footer .social_details li a.twitter:focus {
    background-color: #55acee;
    border-color: #55acee;
}

.bottom_footer .social_details li a.linkedin:hover,
.bottom_footer .social_details li a.linkedin:focus {
    background-color: #0077B5;
    border-color: #0077B5;
}

.bottom_footer .social_details li a.youtube:hover,
.bottom_footer .social_details li a.youtube:focus {
    background-color: #cd201f;
    border-color: #cd201f;
}

.bottom_footer .social_details li a i {
    font-family: 'fontawesome';
    font-style: normal;
}

.scrollToTop {
    background-color: rgba(0, 0, 0, 0.70);
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 150px;
    right: 30px;
    display: none;
    border-radius: 3px;
    transition: all 0.3s;
    border: 0;
    cursor: pointer;
    opacity: 1;
    z-index: 999;
    padding: 10px;
    line-height: 6px;
}

.scrollToTop:hover {
    background-color: #323232;
}

.scrollToTop img {
    width: 100%;
}

.scrolltop {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 16px;
    right: 0px;
    z-index: 99;
}

.quote a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

#quote {
    border-radius: 6px 6px 0 0;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    right: 7px;
    z-index: 1;
    transition: all 0.5s;
    background: -webkit-linear-gradient(rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
    background: -o-linear-gradient(rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
    background: linear-gradient(rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
}


/*===========================================
    Footer CSS Style End
=============================================*/
#hero .contact-us-sec input[type="submit"] {
    width: 100%;
    margin-top: 5px;
}

.contact-form-top {
    background-color: #ffffff;
    padding: 40px 25px 25px;
    border-radius: 10px;
    max-width: 430px;
    margin-left: auto;
}

.contact-form-top h2 {
    font-size: 30px;
    color: #151515;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 28px;
}

.contact-form-top h2 small {
    display: block;
    font-size: 15px;
    color: #707070;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 5px;
    font-weight: 500;
}

input,
select,
textarea,
.form-control:focus {
    outline: none;
    box-shadow: none;
    color: #000;
    border-color: #f85b34;
}

input.form-control,
.custom-select {
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}

.form-group {
    margin-bottom: 11px;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}

.error {
    font-size: 12px !important;
    color: red !important;
    font-weight: 500 !important;
}

textarea.form-control {
    height: auto;
    min-height: 80px;
    max-height: 80px;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #707070;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #707070;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #707070;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #707070;
}

.form-group button.btn {
    width: 100%;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin-bottom: 0;
    transition: all 0.5s
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.wrapper.modal-dialog h4 {
    font-size: 30px;
    color: #151515;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.wrapper.modal-dialog p,
.wrapper.modal-dialog .why_laravel_list li {
    font-size: 16px !important;
    color: #424242;
}

.wrapper.modal-dialog p:last-child {
    margin-bottom: 0;
}

.wrapper.modal-dialog .top_wrap {
    margin-bottom: 30px;
}

.wrapper.modal-dialog .img_wrap {
    padding: 0 0 0px 17px;
    max-width: 480px;
}

.modal-dialog.wrapper {
    max-width: 955px;
    padding: 85px 40px;
    background-color: #fff;
}

.wrapper .modal-content {
    border: 0;
    position: static;
}

.wrapper .list_wrap {
    margin: 12px 0 0 0;
}

.wrapper .list_wrap p {
    display: flex;
}

.wrapper .list_wrap p::before {
    content: "";
    background-image: url(../images/icons/red-arrow.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 26px;
    height: 20px;
    background-position: center;
    background-size: cover;
    margin-right: 13px;
    margin-top: 5px;
    flex: 0 0 auto;
}

.wrapper .list_wrap.gray_wrap {
    background-color: #f7f7f9;
    border: 2px solid #fb503b;
    padding: 30px;
    color: #fff;
}

.wrapper .list_wrap.gray_wrap h5 {
    margin-bottom: 23px;
}

.wrapper .list_wrap.gray_wrap p:last-child {
    margin-bottom: 0;
}

.wrapper .close {
    position: absolute;
    right: 35px;
    top: 30px;
    z-index: 1;
}

.wrapper .close {
    opacity: 1;
}

.wrapper .close span {
    max-width: 40px;
    height: 40px;
    display: inline-block;
}

.wrapper .close img {
    width: 100%;
    height: 100%;
}

.wrapper .list_wrap h5 {
    margin-bottom: 20px;
}

.wrapper .why_laravel_list {
    margin-bottom: 35px;
}

.wrapper.modal-dialog .top_wrap .text_wrap p {
    font-size: 15px !important;
}

.modal-dialog-centered::before {
    display: none;
}

.form_bottom_text {
    color: #151515;
    font-weight: 500;
    font-size: 15px;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.why_elu {
    background-color: #f3f6f8;
    padding: 60px 0px;
}

.why_elu h2 {
    margin-bottom: 15px;
    margin-top: 16px;
}

.why_elu p {
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    line-height: 25px;
    max-width: 400px;
}

.why_elu .why_laravel_list li {
    font-size: 18px;
}

.elu_slider {
    border-radius: 5px;
    overflow: hidden;
    max-width: 720px;
}

.elu_slider .img_box img {
    border-radius: 5px;
    width: 100%;
}


/* 14-04-2020 */

#home_banner .content .why_laravel.top_new_text {
    margin-bottom: 22px;
}

.bottom_box_testi {
    /* box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.05); */
    display: inline-block;
    padding: 10px 0;
    text-align: left;
    box-sizing: border-box;
    border-top: 1px solid #f1f1f1;
    /* border-radius: 5px; */
    /* max-width: 500px; */
}

.trusted_client.second_testi .bottom_box_testi {
    border-top: 1px solid rgba(255, 255, 255, 0.30);
}

.bottom_box_testi h6 {
    margin-bottom: 15px;
    font-size: 18px;
}

.bottom_box_testi ul {}

.bottom_box_testi ul li,
#home_banner .content .why_laravel.top_new_text p {
    position: relative;
    /* padding-left: 18px; */
    margin: 0 15px;
    font-weight: 500;
    display: inline-block;
}

.bottom_box_testi ul li::before,
#home_banner .content .why_laravel.top_new_text p::before {
    content: "";
    width: 8px;
    height: 8px;
    background: -moz-linear-gradient(180deg, rgb(161, 202, 255) 0%, rgb(130, 181, 247) 100%);
    background: -webkit-linear-gradient(180deg, rgb(161, 202, 255) 0%, rgb(130, 181, 247) 100%);
    background: -ms-linear-gradient(180deg, rgb(161, 202, 255) 0%, rgb(130, 181, 247) 100%);
    border-radius: 50px;
    display: inline-block;
    margin-right: 15px;
    transform: translateY(-2px);
}

/*.hiring_process h2 small {
    font-size: 20px;
    margin-top: 10px;
}*/
#home_banner .content .why_laravel.top_new_text p {
    margin: 0;
    font-weight: 600;
}


/* #home_banner .content .why_laravel.top_new_text p::before {
    top: 9px;
    position: static;
    display: inline-block;
    margin-right: 18px;
} */


/* #home_banner .content .why_laravel.top_new_text p {
    padding-left: 0px;
} */

.why_elu .why_laravel_list {
    margin-bottom: 35px;
}

@media (max-width: 767px) {
    .hiring_process ul li .circle_heading {
        display: flex;
    }
    .hiring_process ul {
        display: block;
    }
    .arrow::before {
        width: 2px;
        height: 100%;
    }
    .arrow::after {
        bottom: 6px;
        left: 22px;
        right: auto;
        text-align: center;
        border-color: #fb503b00 #fb503b #fb503b #fb503b00;
    }
    .arrow {
        top: auto;
        width: 41px;
        height: calc(100% - 65px);
        right: auto;
        left: 0;
        top: auto;
        bottom: calc(-50% - -62px);
    }
}



.navbar-brand img {
    height: auto;
    width: 200px;
    display: inline-block;
}
.navbar-brand {
    height: auto;
}

.navbar-default .navbar-nav.custom>li>a {
    font-size: 24px;
    color: #093a7f;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.navbar-default .navbar-nav.custom > li > a {
    font-size: 15px;
    color: #242d34;
    line-height: 24px;
    font-weight: 600;
    vertical-align: middle;
}
.navbar-default .navbar-nav.custom>li>a:hover {
    color: #f2683e;
}
.navbar-default .navbar-nav.custom>li:first-child a {
    padding-right: 0;
}
ul.nav.navbar-nav.navbar-right.custom {
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 10px 15px;
    line-height: 20px;
}
.custom .fa-envelope {
    font-size: 21px;
    color: #27ae60;
}
.custom .fa-skype {
    font-size: 24px;
    color: #00aff0;
}
#hero .mainTitle {

    font-size: 21px;
    color: #fff;
    line-height: 1.429;
    font-weight: 400;
    border-left: 6px solid #a1caff;
    padding-left: 14px;
    margin-top: 29px;
    margin-bottom: 27px;

}
#hero .subTitle {
    font-size: 21px;
    color: #fff;
    line-height: 1.429;
    margin-bottom: 12px;

}
#hero .contactForm {
    padding: 19px 20px 10px 20px;
    box-shadow: -5px 7px 20px 0px rgba(0, 0, 0, 0.32);
    border: 0;
    border-radius: 10px;
}
#hero .contactForm {
    padding: 19px 20px 10px 20px;
}
.contactForm {
    width: auto;
    left: auto;
    right: auto;
    background: #fff;
    border-radius: 0px;
    display: block;
    position: relative;
    margin: 0px auto 0;
    border: 0px solid #093a7f;
    border-bottom-width: 4px;
    padding: 0 0 40px;
}
#hero .contact-us-sec h6 {
    font-size: 31px;
    color: #05408b;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}
.contact-us-sec h6 {
    font-size: 42px;
    color: #000000;
    text-align: left;
    margin: 0 0 8px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
#hero .contact-us-sec h6.subheading {
    font-weight: normal;
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    display: none;
}
#hero .contact-us-sec h6 {
    font-size: 31px;
    color: #05408b;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}
#hero .top-banner {
    display: block !important;
}
.contact-us-sec h6.subheading {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #555555;
    font-weight: 400;
    margin: 0 0 30px 0;
}
.contact-us-sec h6 {
    font-size: 42px;
    color: #000000;
    text-align: left;
    margin: 0 0 8px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.top-banner {
    display: none;
}
#hero .contactForm [type="text"], #hero .contactForm [type="email"], #hero .contactForm #country {
    padding-left: 48px;
    border: 1px solid #e0e0e0;
    margin-bottom: 5px;

}
.contactForm [type="text"], .contactForm [type="email"], .contactForm #country {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #1f1c23;
    margin-bottom: 24px;
    padding: 8px;
    padding-left: 8px;
    width: 100%;
    font-size: 15px;
    border-radius: 0;
    height: 50px;
}
.custom-input {
    margin-bottom: 10px;
}
.custom-input {
    position: relative;
}
#hero span.icon-box {
    position: absolute;
    left: 9px;
    top: 14px;
    opacity: 0.4;
    border-right: 1px solid #bfbfbf;
    padding-right: 15px;
    width: 28px;
    text-align: right;
    display: block;
}
span.icon-box {
    display: none;
}
#hero form#frmContact .col-sm-6 {
    /* width: 100% !important; */
    max-width: 100% !important;
    flex: 0 0 100%;
}
#hero {
    position: relative;
    width: 100%;
    z-index: 999;
    text-align: left;
    padding:110px 0 120px;
    box-shadow: 6px 8px 30px 0px rgba(0,0,0,0.20);
    background: #093a7f url(../images/here-bg.jpg) no-repeat center center;
    background-size: cover;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.mainTitle {
    font-size: 54px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 48px;
    margin-bottom: 20px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.mainTitle span {
    color: #81d937;
    font-weight: 500;
}
.subTitle {
    font-size:21px;
    color: #ffffff;
    font-weight: normal;
    line-height: normal;
}
.subTitle.next {
  color:#282828;
  font-size: 18px;
  padding-top:10px;  
}
.subTitle span {
    color: #81d937;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.mainWrapper {
    width: 100%;
    background: #fff;
    position: relative;
    border-radius: 5px 5px 0 0;
    padding: 0;
}
.psdservice {
    width: 100%;
    float: left;
    display: block;
    padding: 40px 0;
    border-bottom: 2px solid #e5e5e5;
    position: relative;
    z-index: 99;
}
#portfolio-sec {
    display: block;
    padding: 30px 0 0 0;
    position: relative;
    z-index: 99;
    width: 100%;
    float: left;
}
.contactForm {
    width: auto;
    left: auto;
    right: auto;
    background: #fff;
    border-radius: 0px;
    display: block;
    position: relative;
    margin: 0px auto 0; 
    border: 0px solid #093a7f;
    border-bottom-width: 4px;
    padding: 0 0 40px;
}
.contactForm [type="text"], .contactForm [type="email"], .contactForm #country {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #1f1c23;
    margin-bottom: 24px;
    padding: 8px;
    width: 100%;
    font-size: 15px;
    border-radius: 0;
    height: 50px;
}
.contactForm #country option {
     color: #1f1c23;
}
.contact-us-sec {
    display: block;
    padding: 15px 0px;
    border-radius: 0px;
}
.contact-us-sec h6 {
    font-size: 42px;
    color: #000000;
    text-align: left;
    margin: 0 0 8px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.contact-us-sec h6.subheading{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #555555;
    font-weight: 400;
    margin: 0 0 30px 0;
}
.submit-btn-blk {
    margin-top: 10px;
}
.contact-us-sec p {
    font-size: 15px;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
    line-height: normal;
}
.contact-us-sec input[type='submit'] {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: block;
    width: 230px;
    margin: 0;
    padding: 0 20px;
    height: 56px;
    line-height: 56px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease;
    color: #fff;
    border: 1px solid rgb(23, 112, 18);
    ;
    background-image: -moz-linear-gradient( 90deg, rgb(21,110,17) 0%, rgb(58,166,52) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(21,110,17) 0%, rgb(58,166,52) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(21,110,17) 0%, rgb(58,166,52) 100%);
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.35);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
.contact-us-sec input[type='submit']:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.07), 0 1px 7px 0 rgba(0,0,0,0.02), 0 3px 1px -1px rgba(0,0,0,0.1);
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3aa634 0px, #3aa634 100%) repeat scroll 0 0;
}
.serviceTitle {
    color: #1f1c23;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.serviceTitle .red {
    color: #093A7F;
}
.serviceTitle em {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
}
.subtitle {
    font-size: 21px;
    color: #555555;
    font-weight: normal;
    line-height: 30px;
    margin-top: 5px;
}
.service-offer li {
    color: #282828;
    font-size: 21px;
    list-style-type: none;
    margin: 3px 0;
    padding: 5px 0 5px 32px;
    position: relative;
}
.psdservice .service-offer li::before, .listting_section .service-offer li::before{
    background: url(../images/home/tick-red.svg) no-repeat scroll left top/21px auto;
    content: "";
    height: 21px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 21px;
}
.psdservice .startingOffer {
    margin-top: 0;
    margin-bottom: 15px;
}
.service-offer strong {
    font-weight: 500;
}
.service-offer li img {
    margin-right: 10px;
    width: 21px;
}
.startingOffer {
    font-size: 21px;
    margin-top:20px;
}
.psdservice .startingOffer span {
    color:#093A7F;
}
#hero h1 {
    font-size: 56px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}
.teamDesc p {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    line-height: 24px;
}
/*.team .owl-nav {
    position: absolute;
    left: 0px;
    top: 50%;
    height: 104px;
    margin-top: -52px;
    width: 100%;
}
.team .owl-nav .owl-prev::before, .team .owl-nav .owl-next::before {
    display: none;
}
.team .owl-nav .owl-prev, .team .owl-nav .owl-next {
    display: block;
    width: 104px;
    height: 104px;
    background: url(../images/team-arrow-2.png) no-repeat 0 0;
    border: 0px;
    position: absolute;
}
.team .owl-nav .owl-prev {
    background-position: left center;
    left: 0;
}
.team .owl-nav .owl-next {
    background-position: right center;
    right: 0;
}*/
.team .owl-nav {position: absolute; left: 0px; top: 50%; height: 104px; margin-top: -52px; width: 100%; font-size: 0;}
.team .owl-nav .owl-prev:before, .team .owl-nav .owl-next:before{display: none;}
/*.team .owl-nav .owl-prev, .team .owl-nav .owl-next{display: block; width: 104px; height: 104px; background:url(../images/team-arrow-2.png) no-repeat 0 0; border: 0px; position: absolute;}*/
.team .owl-nav .owl-prev, .team .owl-nav .owl-next {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/team-arrow-2.png) no-repeat 0 0;
    border: 0px;
    position: absolute;
}
.team .owl-nav .owl-prev{background-position: left center; left:0;}
.team .owl-nav .owl-next{background-position: right center; right:0;}
    .team .owl-nav .owl-prev, .team .owl-nav .owl-next{-webkit-appearance: value;
   -moz-appearance:    value;
   appearance:         value;}
  .team.owl-nav .owl-prev,
.team.owl-nav .owl-next {
   display: none;
}

.wrap{border:none !Important;color: #a1caff;}
.wrap::after{
content: "";
    -webkit-animation: blink ease 1s infinite;
    animation: blink ease 1s infinite;
    width: 2px;
    height: 59px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    top: 2px;
    left: -6px;
}
@-webkit-keyframes blink {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}


#review_slider .owl-carousel .owl-nav.disabled {
    display: block;
}

/*#review_slider .no-js .owl-carousel,
#review_slider .owl-carousel.owl-loaded {
    position: static;
}

#review_slider .owl-nav.disabled,
#review_slider .owl-nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    display: flex;
    justify-content: space-between;
    max-width: calc(1660px - 0px);
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
}

#review_slider .owl-prev,
#review_slider .owl-next {
    font-size: 0;
    width: 57px;
    height: 57px;
    margin: 0 7px;
    background-color: transparent;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.3s;
    border-radius: 50px;
    background-color: transparent;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

#review_slider .owl-carousel .owl-nav .owl-prev {
    left: 0;
    right: auto;
}

#review_slider .owl-carousel .owl-nav .owl-next {
    left: auto;
    right: 0;
}

#review_slider .owl-prev:hover,
#review_slider .owl-next:hover {
    background-color: #2caba8;
}

#review_slider .owl-prev {
    margin-left: 0;
}

#review_slider .owl-next {
    margin-right: 0;
}

#review_slider .owl-prev::before,
#review_slider .owl-prev::before,
#review_slider .owl-next::before {
    content: "";
    width: 22px;
    height: 12px;
    background-image: url('../images/icons/white-left-arrow.png');
    background-size: cover;
    background-position: center;
}

#review_slider .owl-next::before {
    background-image: url('../images/icons/white-right-arrow.png');
}*/

#review_slider .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -13px; */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}
#review_slider .owl-dots .owl-dot {
    width: 20px;
    height: 2px;
    background-color: #f85935;
    margin: 0 5px;
    transition: all 0.5s;
}
#review_slider .owl-dots .owl-dot.active {
    background-color: #a1caff;
}
#quote {
    border-radius: 6px 6px 0 0;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    right: 7px;
    z-index: 1;
    transition: all 0.5s;
    background: -webkit-linear-gradient(rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
    background: -o-linear-gradient(rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
    background: linear-gradient(rgb(251, 80, 59) 0%, rgb(243, 114, 37) 100%);
}
.quote a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}
/*-------------------new-added-css-------------*/
ul.nav.navbar-nav.navbar-right.custom .icons,
.navbar-default .navbar-nav.custom > li > a img {
    top: -1px;
    position: relative;
    display: inline-block;
}

.why_elu .row {
    align-items: center;
}
/*------------------new-font-size--------------*/
h2 {
    font-size: 30px;
    color: rgb(51, 51, 51);
    line-height: 1.375;
    position: relative;
    margin-bottom: 60px;
    width: 100%;
    letter-spacing: 0.5px;
    font-weight: normal;
}
h2 small {
    font-size: 18px;
    color: #747474;
    line-height: 28px;
    display: block;
    margin-top: 10px;
}